<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Products Directory</title>
</head>

<body>

<h3>Products Directory</h3>
<hr>

<!-- Add a button -->
<a th:href="@{/products/showFormForAdd}"
   class="btn btn-primary btn-sm mb-3">
    Add products
</a>

<table border="1">
    <thead>
    <tr>
        <th>Product Name</th>
        <th>Product ID</th>
        <th>Product Count</th>
        <th>Product price</th>
        <th>Action</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="tempproduct : ${products}">

        <td th:text="${tempproduct.name}" />
        <td th:text="${tempproduct.productid}" />
        <td th:text="${tempproduct.productinventrycount}" />
        <td th:text="${tempproduct.productprice}" />

        <!-- Add update button/link -->
        <td>
            <a th:href="@{/products/showFormForUpdate(productId=${tempproduct.productid})}"
               class="btn btn-info btn-sm">
                Update
            </a>

            <!-- Add "delete" button/link -->
            <a th:href="@{/products/delete(productId=${tempproduct.productid})}"
               class="btn btn-danger btn-sm"
               onclick="if (!(confirm('Are you sure you want to delete this employee?'))) return false">
                Delete
            </a>
        </td>
    </tr>
    </tbody>
</table>


</body>
</html>



